<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="post" action="/login">
    <label for="username">
        用户名：<input id="username" type="text" name="username" placeholder="请输入用户名"/>
    </label><br/>
    <label for="password">
        密码：<input id="password" type="password" name="password" placeholder="请输入密码"/>
    </label><br/>
    <label>
        <input type="checkbox" name="remember-me"/>
    </label>
    <input type="submit" value="登录">
</form>
</body>
</html>